<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome admin</h1>

<a href="/addcake1/">add cake</a> <br> <br>
<a href="/viewcaketbl/">view caketable</a> <br> <br>
<a href="/viewuser/">view user</a> <br> <br> <br> <br> <br>



<a style="margin-left: 500px; border: 1px solid red; background-color: lightcoral; list-style:none;" href="/logout/">log out</a>

</body>
</html>