<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/login1/" method="post">
        {% csrf_token %}
        username
        <input type="text" name="username"> <br> <br>
        password
        <input type="password" name="password">  <br> <br>
        <input type="submit"> <br> <br>
        <h1><a href="/createac1/">cerate account</a></h1>
    </form>
    
</body>
</html>