<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,td,th,tr{
            border: 1px solid black;
            width: 300px;
            margin-left: 350px;
        }
    </style>
    
</head>
<body>
    <table>
        <thead>
            <th>cake name</th>
            <th>price</th>
        </thead>
        {% for x in data %}
        <tr>
            <td>{{x.cakename}}</td>
            <td>{{x.price}}</td>
            <td><a href="/delete1/{{x.id}}">delete</a></td>
            <td><a href="/update1/{{x.id}}">update</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>